  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav>
    <a class="not-button" href="/profiles">
      User Profiles
    </a>
    <% if (user) { %>
      <a class="not-button" href="/profiles/<%= user.profile.id %>/new">
        Add Item
      </a>
      <a class="not-button" href="/profiles/<%= user.profile.id %>/items">
        Manage Inventory
      </a>
      <a href="/auth/logout">
        <button id="logout" type="submit">Logout</button>
      </a>
    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button id="g-signin" type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
  </nav>